{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3> Existió un problema con la información de tu registro,</br></br> favor de escribir a webmaster<i class="fa fa-at"></i>matmor.unam.mx</h3>
    </div>
{% endblock %}